body {
font-family: 'VT323', monospace;

background-color: darkblue;
}
audio {
  display:none;
}
.image1  {
width:50px;
height:50px;
}

.image2  {
width:150px;
height:150px;
}


input {
font-family: 'VT323', monospace;
}

.container {
  position: relative;

}

.image3 {
  opacity: 1;

  width:150px;
  height:150px;

  transition: .5s ease;
  backface-visibility: hidden;
}


.container:hover .image3 {
  opacity: 0.3;
}

.container:hover .rating {
  opacity: 100;

}
.container:hover .imgrating {
    opacity: 100;
    width:150px;
    height:150px;


}

.rating {
  display:inline;
  opacity: 0;
  position: relative;
  top: -150px;
  background-color: #4CAF50;
  color: black;
  font-size: 20px;
  padding: 0px 0px;


}
.imgrating {
  display:inline;
  opacity: 0;
  position: relative;
  top: -80px;

    width:15px;
    height:15px;

  padding: 10px 10px;


}
#stars{
    width:70px;
    height:20px;
}

/**
.hover  {
  width:150px;
  height:150px;
}


#wrapper.text {
  position:relative;
  bottom:0px;
  left:0px;
  visibility:hidden;
}

#wrapper:hover.text {
  visibility:visible;
}
**/

form{
    background-color:white;
    color: gray;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}